*.o
abc/abc_mpi
mpi_model
pop-yucatan/locations-yucatan.txt
pop-yucatan/network-yucatan.txt
pop-yucatan/population-yucatan.txt
pop-yucatan/serotypes-yucatan.txt
pop-yucatan/swap_probabilities-yucatan.txt
