*
!*.*
!*/

*.o
*.pyc
*.csv
*.csv#
*.7z
*.gz
*.bz2
*.tgz
*.zip
*.swp
*.swo
*.swn
*.swm

*.qgs
*.dbf
*.prj
*.shp
*.shx
*.sbn
*.sbx

*.jpg
*.jpeg
*.jpgw
*.png
*.tiff
*.tif
*.pdf
*.eps
*.sqlite
.Rproj.user
*.Rproj
*.log
.Rhistory
*.RData
*.Rout
*.rds
*.rda
local.mk
*.xml
*.out
*.bac
.directory
*.txt
abc_sql
sim_test


abc/abc_mpi
mpi_model
pop-yucatan/locations-yucatan.txt
pop-yucatan/network-yucatan.txt
pop-yucatan/population-yucatan.txt
pop-yucatan/serotypes-yucatan.txt
pop-yucatan/swap_probabilities-yucatan.txt
.Rproj.user
*.Rproj
raw_data/weather/*.csv
abc/yuc_posterior_output/*daily
abc/yuc_posterior_output/*annual
